@model WebApplication1.Models.financeiro

@{
    ViewData["Title"] = "Delete";
}

<h3>Quer mesmo deletar esse registro?</h3>
<div>
    <h4>financeiro</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.valor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.valor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ReleaseDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Convenio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Convenio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desconto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desconto)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="FinancID" />
        <input type="submit" value="Deletar" class="btn btn-danger" /> |
        <input type="submit" value="Voltar" class="btn btn-primary" asp-action="Index" />
    </form>
</div>
