@model WebApplication1.Models.convenios

@{
    ViewData["Title"] = "Detalhes";
}

<h1>Detalhes</h1>

<div>
    <h4>Convenio</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Empresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Empresa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CNPJ)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CNPJ)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.desconto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.desconto)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ConvID">Editar</a> |
    <a class="btn btn-primary" asp-action="Index">Voltar</a>
</div>
