@model IEnumerable<WebApplication1.Models.despesas>

@{
    ViewData["Title"] = "Inserir despesas";

}

<h1>Inserir despesas</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Criar novo</a>
</p>

<form asp-controller="despesas" asp-action="Index" method="get">
    <p>
        <input class="pesquisar" placeholder="Pesquisar Funcionario:" type="text" name="SearchString">
        <input class="pesquisar2" type="submit" value="Buscar" />
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Aluguel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Agua)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Luz)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Internet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pagamentos)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Materiais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReleaseDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aluguel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Agua)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Luz)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Internet)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pagamentos)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Materiais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReleaseDate)
            </td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@item.DespID">Editar</a>
                <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.DespID">Detalhes</a>
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.DespID">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
